.quizz__container {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.quizz_logo {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.quizz_logo img {
  width: 340px;
}

.quizz_logo > h3 {
  margin-top: 50px;
  font-size: 50px;
  margin-bottom: 30px;
}

.bg-theme {
  position: absolute;
  opacity: 0.3;
  width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quizz_questions {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(58, 58, 58);
  width: 100%;
  min-height: 200px;
  padding: 20px;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}
.quizz_questions h3 {
  color: white;
  opacity: 1;
  z-index: 50;
}

.quizz_options {
  display: grid;

  grid-template-columns: 1fr 1fr;
  margin: auto;
  margin-bottom: 20px;
  gap: 5px;
}

.btn-option {
  background-color: transparent;

  background-color: #644ed2;
  width: 100%;

  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Arial;
  font-size: 30px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.btn-option:hover {
  background-color: rgba(100, 78, 210, 0.8);
}

.btn-option:active {
  position: relative;
  top: 1px;
}

.quizz_results {
  width: 100%;
  height: 350px;
  background-color: #644ed2;

  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quizz_results h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

.quizz_results p {
  font-size: 25px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .quizz__container {
    width: 60%;
  }
  .quizz_logo img {
    width: 500px;
  }
}
